.form {
  width: 100%;
}

.icon {
  cursor: pointer;
  color: rgb(156, 156, 156);
  font-size: 20px;
  user-select: none;
}

.emojiPicker {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.customPicker {
  width: 300px !important;
  height: 20px !important;
}
