.wrapper {
  display: inline-block;
}

.text {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  animation: typing 2.5s steps(10) forwards,
    cursor 0.8s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
