* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
}

body,
html {
  background-color: #1a1a1a;
  font-family: "Inter";
  color: #fff;
}

h1 {
  margin: 0;
}

/* input:-webkit-autofill {
  color: #fff;
  -webkit-box-shadow: 0 0 0 30px #131313 inset;
  box-shadow: 0 0 0 30px #131313 inset;
}

input:focus,
input:active, input: {
  color: #fff;
  background-color: #131313;
} */
