.groupName {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.groupLastMessage {
  font-size: 14px;
  color: rgb(163, 163, 163);
}

.groupAvatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgb(223, 223, 21);
}
