form {
  width: 800px;
  margin: 0 8px;
}

.nameFieldRow {
  display: flex;
  gap: 8px;
  margin: 8px 0;
  justify-content: space-between;
}

.button {
  margin: 8px 0;
}

.loginFormPassword {
  margin-top: 8px;
}

.footer {
  display: flex;
  gap: 10px;
  a {
    color: #8f8f8f;
    text-decoration: none;
    &:hover {
      transition: 0.8s ease-in-out;
      text-decoration: underline;
    }
  }
}
